{% extends 'matchpayments/base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<br>
<br>
<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <br>
                <input class="btn btn-success" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}