{% extends 'matchpayments/base.html' %}
{% block content %}
<br>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to approve the request?</p>
            <form action="{% url 'Confirm_Payment' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'paymentDashboard' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock %}